  <div class="container-fluid">
    <center>
      <% if user_signed_in? %>
      <div class="container-fluid">
        <%= link_to new_post_path, :class => "btn btn-outline-success" do %>New post<% end %>
      </div><br>
      <%end%>
  </div>
    

    <% @posts.each do |post| %>
    
<div id="wrapper">
    <header class="cf">
      <h1 class="name"><%= post.user.first_name%></h1>
      <p class="date"><%= post.created_at.strftime('%b %d, %H:%M ') %></p>
    </header>

    <h4 class="status"><%= post.message%> </h4>

      <% if post.user == current_user %>
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %>
        <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-outline-dark"%>
      <% end %>
</div>
<%end%>
