<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>
  
  <body>

  <nav class="navbar navbar-dark bg-dark">

  <span class="navbar-brand mb-0 h1">Zuckerbros</span>

  <ul class="nav justify-content-end">
      <% if !user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => "btn text-light"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, :class => "btn text-light" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Chat", messages_path, :class => "btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => "btn text-light", id:'logout' %>
        </li>
      <% end %>
    </ul>
  </nav>


  <% if notice %>
    <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert%>
    <div id="notice_alert">
    <p class="alert"><%= alert %></p>
    </div>
  <%end%>

    <%= yield %>
  </body>

</html>
